@media (min-width: 1201px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .head {
        display: flex;
        flex-direction: column;
    }

    .logo-info {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-bottom: 60px;
        margin-right: 500px;
    }

    .logo-tablet {
        display: none;
    }

    .info {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    .inf-tel {
        background-image: url("images/icon1.png");
        width: 28px;
        height : 29px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-tel:hover {
        background-image: url("images/icon1-hover.png");
        width: 28px;
        height : 29px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-divide {
        background-image: url("images/divide.png");
        width: 1px;
        height : 24px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-navigation {
        background-image: url("images/icon2.png");
        width: 25px;
        height : 34px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-navigation:hover {
        background-image: url("images/icon2-hover.png");
        width: 25px;
        height : 34px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-mail {
        background-image: url("images/icon3.png");
        width: 30px;
        height : 25px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .inf-mail:hover {
        background-image: url("images/icon3-hover.png");
        width: 30px;
        height : 25px;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .menu {
        display: flex;
        justify-content: center;
        border-top: 2px solid #eceef4;
        border-bottom: 2px solid #eceef4;
        align-items: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        margin-right: 80px;
    }

    button {
        border-top:  1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 20px;
        text-align: center;
        background-color: white;
        color: #6d6e71;
        font-weight: bold;
    }

    button:hover {
        justify-content: space-around;
        border-top:  1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 20px;
        text-align: center;
        background-color: white;
        color: #1faae2;
        font-weight: bold;
    }

    .arrow-up{
        display: none;
    }
    
    button:hover .arrow-up {
        display: block;
        position: absolute;
        margin-top: 12px;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 11px solid #1faae2;
    }

    .border1 {
        border-right: 1px solid white;
    }

    .border0, .border {
        border-right: 1px solid white;
    }

    .border {
        border-left: 1px solid white;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 150px;
    }

    input {
        -webkit-appearance: none;
        border: 1px solid white;
        height: 35px;
        width: 180px;
        font-size: 15px;
        margin-left: 10px;
    }

    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background-image {
        position: relative;
    }

    .slider {
        position: absolute;
        top: 520px;
        left: 820px;
        display: flex;
    }

    .green {
        background-image: url("images/green-box.png");
        width: 322px;
        height: 241px;
        display: flex;
        align-items: flex-end;
    }

    .yellow {
        background-image: url("images/yellow-box.png");
        width: 322px;
        height: 241px;
        display: flex;
        align-items: flex-end;
    }

    .arrow {
        background-color: #f4f4f4;
        width: 111px;
        height: 241px;
        background-image: url("images/arrow.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .like-green {
        background-image: url("images/like-green.png");
        width: 322px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heart1 {
        background-image: url("images/heart1.png");
        width: 32px;
        height: 29px;
        margin-right: 10px;
    }

    .like1 {
        background-image: url("images/like1.png");
        width: 27px;
        height: 11px;
    }

    .like-yellow {
        background-image: url("images/like-yellow.png");
        width: 322px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heart2 {
        background-image: url("images/heart2.png");
        width: 32px;
        height: 29px;
        margin-right: 10px;
    }

    .like2 {
        background-image: url("images/like2.png");
        width: 27px;
        height: 11px;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .what-about {
        display: flex;
        margin-right: 70px;
    }

    .why-we-exist {
        display: flex;
        margin-left: 70px;
    }

    .lamp {
        margin-right: 30px;
    }
    
    .tree {
        margin-right: 30px;
    }
    
    .text1 {
        text-align: justify;
        width: 360px;
        font-family: MyriadProRegular, sans-serif;
        color: #6d6e71;
        font-size: 16px;
        line-height: 1.5;
    }

    .text2 {
        text-align: justify;
        width: 360px;
        font-family: "MyriadProRegular" sans-serif;
        color: #6d6e71;
        font-family: MyriadProRegular, sans-serif;
        color: #6d6e71;
        font-size: 16px;
        line-height: 1.5;
    }

    p {
        font-weight: bold;
        font-size: 26px;
    }
}

