@media (max-width: 1200px) {

    .logo-info {
        display: none;
    }

    .info {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }
    
    .search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .search-field {
        -webkit-appearance: none;
        border: 1px solid white;
        height: 35px;
        width: 180px;
        font-size: 15px;
        margin-left: 10px;
    }

    .img-desktop {
        display: none;
    }

    .slider {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .what-about {
        display: flex;
    }
    
    .why-we-exist {
        display: flex;
    } 
    
    .text {
        text-align: justify;
        width: 650px;
        font-family: MyriadProRegular, sans-serif;
        color: #6d6e71;
        font-size: 16px;
        line-height: 1.5;
    }
    
    p {
        font-weight: bold;
        font-size: 26px;
    }
}


    


    
