html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0079BF;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0067A3;
    width: 100%;
    height: 55px;
}

.left-menu, .right-menu {
    display: flex;
    align-items: center;
}

.right-menu {
    margin-top: 4px;
}

.burger {  
    width: 45px;
    height: 45px;
    margin: 5px;
}

.logo {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 28px;
}

.create-list {
    margin-right: 50px;
}

.content {
    height: 100%;
}

.drop-list {
    position: relative;
    left: 85%;
    top: 0%;
    display: flex;
    width: 15%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    
}

.drop-list ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.drop-list ul li{
    width: 90%;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: white;
    border: 1px solid #0067A3;
    padding: 10px 0;
    background-color: #0067A3;
    border-radius: 5px;
    text-align: center;
    
}

.drop-list ul li:hover {
    background-color: #0d2b3d;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0067A3;
    width: 100%;
    height: 55px;
}

.footer-tasks-info {
    display: flex;
    margin-left: 30px;
}


.footer-info-item {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 30px;
    
}

.arrow-change {
    transform: rotate(180deg);
}


