.task-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2;
    width: 250px;
    min-height: 250px;
    border-radius: 10px;
    margin-top: 10px;
}

.task-block-header {
    display: flex;
    height: 30px;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding-left: 10px;
    font-size: 18px;
}

.add-card-button-backlog, .add-card-button-in-progress, .add-card-button-finished, .add-card-button-ready {
    display: flex;
    height: 30px;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding-left: 10px;
    border: none; 
    outline: none;
    background-color: transparent;
    color: rgb(71, 67, 67);
}

.add-card-button-backlog:hover, .add-card-button-in-progress:hover, .add-card-button-finished:hover, .add-card-button-ready:hover {
    color: blue;
    cursor: pointer;
}

.add-card-button-ready:disabled, .add-card-button-in-progress:disabled, .add-card-button-finished:disabled {
    color: grey;
}

.task-backlog, .task-ready, .task-in-progress, .task-finished {
    display:flex;
    align-items: center;
    height: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.big-plus {
    font-size: 20px;
}

.task-field-backlog {
    height: 30px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    margin: 10px;
}

.task-list {
    outline: none; 
    border: none;
    padding-left: 0px;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: center;
}

.task-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0067A3;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
}

.task-list li:hover {
    background-color: #0d2b3d;
}